h1{
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: blueviolet
}
body{
    background-color: rgb(204, 204, 207)
}
#titulo{
    color: blueviolet;
}
.imagenes{
    width: 400px;
    height: 250px;
}