*{
margin: auto;
}
p{
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
}

h1{
    transform: translateY(50px);
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: blueviolet;
    text-align: center;
    position: fixed;
    right: 20px;
    left: 20px;
    color: blueviolet;
    padding: 40px;
    background-color: rgb(217, 177, 230);
    z-index: 1;
    }
body{
    background-color: rgb(204, 204, 207);
    text-align: center;
}



.imagenes{
    width: 400px;
    height: 250px;
    margin-top: 15px;
    display: block;
    position: relative;
    top: 20px;
    left: 40px;
}
a:hover{
color: rgb(240, 237, 49);
font-size: 30px;
font-style: initial;
}
img:hover{
width: 450px;
height: 300px;
}
.hiper{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.cuadro3{
    width: 170px;
    height: 100px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(179, 141, 223, 0.5);

    margin: 20px;

    font-family:  fantasy;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 40px;
}
 #mi-imagen1:hover{
    transition-duration: 2s;
    transition-timing-function:linear;
    transition-delay:0.02s;
    transform:translateZ(10px) scaleX(1.2); 
    filter: grayscale (80%);
    }
 #mi-imagen2:hover{
    transition-duration: 3s;
    transition-timing-function:linear;
    transition-delay:0.03s;
    transform:translateX(25px) scaleX(1.2); 
    filter: grayscale (90%);
        }
#mi-imagen3:hover{
    transition-duration: 1s;
    transition-timing-function:linear;
    transition-delay:0.01s;
    transform:translateY(20px) scaleX(1.2); 
    filter: grayscale (70%);
        }
    
        #contenido{
            transform: translateY(100px)
        }

        #mi-imagen1{
    animation-name: miAnimación;
    animation-duration: 500ms;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
        }

        #mi-imagen2{
    animation-name: miAnimación2;
    animation-duration: 1000ms;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate
        }

        #mi-imagen3{
    animation-name: miAnimación3;
    animation-duration: 4000ms;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate
        }

 @keyframes miAnimación{
     0%{
    transform:scale(.89,.8);
     }
     
     70%{
    transform: rotateX(8deg)
     }

     100%{
         transform: translate(-9px,9px);
         filter: contrast(400px);
     }
        }
        
@keyframes miAnimación2{
     0%{
        transform:scale(.70,.7);
     }
                 
     70%{
    transform: rotateY(7deg)
     }
            
     100%{
     transform: translate(-8px,8px);
     filter: contrast(300px);
     } 
        }

@keyframes miAnimación3{
            0%{
               transform:scale(.45,.3);
            }
                        
            70%{
           transform: rotateZ(6deg)
            }
                   
            100%{
            transform: translate(-4px,4px);
            filter: contrast(900px);
            } 
               }     